<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
  <title>Times Yamato</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag  '//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= javascript_include_tag  '//use.fontawesome.com/0c9ef4807d.js' %>
  <%= favicon_link_tag('favicon.ico') %>
  <%= display_meta_tags(default_meta_tags) %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><i class="fa fa-cog fa-spin fa-fw"></i> Times Yamato</a>
      </li>
    </ul>
  </div>
</nav>

<div class='typora-export' >
  <%= yield %>
</div>

</body>
</html>
